# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
a = 5
print(a)

5

##### Assinging float

In [3]:
b = 5.5
print(b)

5.5

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(a+b)

10.5

##### Subtraction

In [5]:
print(b-a)

0.5

##### Multiplication

In [6]:
print(a*b)

27.5

##### Division

In [7]:
print(b/a)

1.1

##### Floor Division

In [8]:
print(b//a)

1.0

##### Modulo

In [10]:
c = 10
d = 2
print(10%2)

0

##### Exponential

In [13]:
print(4**2)

16

### String Input-Output

##### String Assignment

In [14]:
e = "Aaron"
print(e)

Aaron

##### print() <br>
<p>Don't forget about end=' '</p>

In [18]:
print(e, end=' Austin')

Aaron Austin

##### String Concatenation

In [21]:
f = "Austin"
print(e + " " + f)

Aaron Austin

##### Type Conversion

In [24]:
g = "10"
gNum = int(g)
print(gNum + 1)

11

##### input()

In [25]:
h = input("Enter your name")
print("Hello, " + h)

Enter your nameAaron
Hello, Aaron

##### format()

In [27]:
print(f"Hey, {h}")

Hey, Aaron

##### Old Way (python 2)

In [28]:
print("First Name: {}, Last Name: {}".format(h,f))

First Name: Aaron, Last Name: Austin

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [29]:
color = input("Color of vehicle")
year = input("Year of Vehicle")
make = input("Make of Vehicle")
model = input("Model of Vehicle")

print(f"Vehicle Color: {color}")
print(f"Vehicle Year: {year}")
print(f"Vehicle Make: {make}")
print(f"Vehicle Model: {model}")

Color of vehicleGreen
Year of Vehicle2016
Make of VehicleKia
Model of VehicleForte
Vehicle Color: Green
Vehicle Year: 2016
Vehicle Make: Kia
Vehicle Model: Forte

### If Statements

In [10]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

i = 5
j = "Hey"

if i == 5:
    print("This is true")
    
if i == 6:
    print("This is not true")
elif i == 4:
    print("This is not true either")
else:
    print("This is true by default")
  
 
if j == "Hi":
    print("Hello!!!")
else:
    print("I did not hear you")
    
if i < 10:
    print("True")

if i > 4:
    print("False")
    
if i > 2 and j == "Hello":
    print("This will not run")
else:
    print("This is true by default")
    
if i > 2 or j == "Hello":
    print("This is true")
else:
    print("This will not run")

This is true
This is true by default
I did not hear you
True
False
This is true by default
This is true

##### 'is' keyword

In [12]:
#Checks for same object but not the same value

k = 55
l = 55

if k is l:
    print("This should run")

This should run with warnings

##### 'in' keyword

In [13]:
#Check if a character is in a string

m = "Frodo Baggins"

if "Frodo" in m:
    print("Yes")

Yes

##### 'not in' keyword'

In [16]:
#Check if a character is not in a string

m = "Frodo Baggins"

if "c" not in m:
    print("Yes")

Yes

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [22]:
user_input = input("Enter a word: ")

if "p" in user_input:
    print("p was found")
else:
    print("p was not found")

Enter a word: Player
p was not found

## Using 'and'/'or' with If Statements

In [26]:
n1 = 15
n2 = 3
n3 = 10
n4 = 3

#If with and/or statement

if n1 == 15 and n2 == 3:
    print("the And returned true")
    
if n3 == 15 or n4 == 3:
    print("the Or returned false")

the And returned true
the Or returned false

### Elif Statements

In [30]:
o = input("Enter your name")

if o == "Aaron":
    print("Hey Me!!!")
elif o == "Tiare":
    print("Hey Wife!!!")
elif o != "Sonya":
    print("You are NOT my mom")
else:
    print("You are my mom!")

Enter your nameSonya
You are my mom!

### Else Statements

In [ ]:
# see above

### For Loops

In [31]:
#for counter in condition

p = "Aaron"

for letter in p:
    print(letter)

A
a
r
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [35]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
A

##### Break Statement

In [ ]:
# will break out of current loop

In [36]:
q = "Aaron"

for i in q:
    if i == "a":
        break
    print(i)

A

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [37]:
q = "Aaron"

for i in q:
    if i == "a":
        pass

##### Double For Loops

In [41]:
for i in range(5):
    for j in range(5):
        print("i: ", i)
        print("j: ", j)

i:  0
j:  0
i:  0
j:  1
i:  0
j:  2
i:  0
j:  3
i:  0
j:  4
i:  1
j:  0
i:  1
j:  1
i:  1
j:  2
i:  1
j:  3
i:  1
j:  4
i:  2
j:  0
i:  2
j:  1
i:  2
j:  2
i:  2
j:  3
i:  2
j:  4
i:  3
j:  0
i:  3
j:  1
i:  3
j:  2
i:  3
j:  3
i:  3
j:  4
i:  4
j:  0
i:  4
j:  1
i:  4
j:  2
i:  4
j:  3
i:  4
j:  4

### While Loops

In [44]:
#while keyword, conditional statement

r = 0

while r < 11:
    print(r)
    r += 1

0
1
2
3
4
5
6
7
8
9
10

##### Looping 'While True'

In [47]:
running = True

while running:
    print("Playing")
    user_input = input("Stop playing?")
    if user_input == "stop":
        running = False

Playing
Stop playing?No
Playing
Stop playing?Yes
Playing
Stop playing?yes
Playing
Stop playing?stop

##### While & For Loops Used Together

In [48]:
s = 0

while s < 5:
    print("While: ", s)
    
    for i in range(2):
        print("For", i)
        
    s += 1

While:  0
For 0
For 1
While:  1
For 0
For 1
While:  2
For 0
For 1
While:  3
For 0
For 1
While:  4
For 0
For 1

### Built-In Functions

##### range()

In [54]:
#range(start, stop, step)

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [55]:
name = input("What is your name? ")

length = len(name)
print(length)

What is your name? Aaron
5

##### help()

In [57]:
# View more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [59]:
#Check a variable to find out what object family or data type it belongs to

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float")

False
This number is a float

##### abs()

In [60]:
#absolute value - returns the positive value of any number

print(abs(-5))

5

### Try and Except

In [63]:
# use to log graceful and userful error messages
#you want string input but user gives int, you can use try/catch
#to return an error message to give a string

try:
    input_num = int(input("Guess a number"))
    print("Your number is: " + str(input_num))
except:
    print("That did not work! Change your input to a number")

Guess a number10
Your number is: 10

### Lists

##### Declaring Lists

In [65]:
list_1 = []

names = ["Max", "Cindy", "Kathy", "Bob", "Nate"]
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

Indexing a List

In [73]:
#List_name[start: stop: step]

#Single index
print(names[3])

#Print starting at index 1 going to the end
print(names[1:])

#Print from beginning up to a number
print(names[:2])

#Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

#Print starting at the back of the list and display in reverse order
print(names[::-1])

Bob
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'Bob']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [80]:
names.append("Brandon")
print(names)

['Max', 'Cindy', 'Devin', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Devin', 'Brandon']

##### .insert()

In [78]:
names.insert(3, "Devin")
print(names)

['Max', 'Cindy', 'Kathy', 'Devin', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Devin']

##### .pop()

In [81]:
my_name = names.pop(2)
print(my_name)
print(names)

Devin
['Max', 'Cindy', 'Bob', 'Nate', 'Brandon', 'Brandon', 'Devin', 'Brandon']


##### .remove()

In [83]:
#Value to bbe remove rather than index
names.remove("Bob")
print(names)

#Remove multiple brandons from list

# while "Brandon" in names:
#     names.remove("Brandon")
# print(names)

ValueError: list.remove(x): x not in list

##### del()

In [84]:
del(names[1])
print(names)

['Max', 'Nate', 'Brandon', 'Brandon', 'Devin', 'Brandon']

##### Concatenating Two Lists

In [89]:
#Append two lists together. Does not add the values
list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [86]:
#Lists can hold other data types including other lists (nested)

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Temeka"]]
print(names)
print(names[3][1][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Temeka']]
u

##### Looping Through Lists

In [93]:
#Two ways to loop through a list
#Either by index or by using "in" keyword

#By index
for i in range(len(names)):
    print(names[i])
    
#Loop with "in"
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Temeka']
Max
Sam
Josh
['Sally', 'Sue', 'Temeka']

# Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [98]:
cube = 0;

for i in range(1000):
    if cube >= 1000:
        break;
    
    cube = i ** 3
    print(cube)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [134]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

for number in range(101):
    if is_prime(number):
        print(f"{number}: prime number")

2: prime number
3: prime number
5: prime number
7: prime number
11: prime number
13: prime number
17: prime number
19: prime number
23: prime number
29: prime number
31: prime number
37: prime number
41: prime number
43: prime number
47: prime number
53: prime number
59: prime number
61: prime number
67: prime number
71: prime number
73: prime number
79: prime number
83: prime number
89: prime number
97: prime number

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [144]:
age = int(input("What is your age? "))

if age >= 0 and age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
elif age > 65: 
    print("seniors")
else:
    print("You cannot be negative years old!")

What is your age? -100
You cannot be negative years old!